.returnable-header {
  display:inline;
}

.post a.back-to-top {
  display:block;
  cursor:pointer;
  font-size: 13px;
}

.post-toc {
    background-color: rgba(255,255,255,0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}
@media (max-width:48rem) {
    .post-toc {
        text-align: center !important
    }
}

.post-toc .toc-header {
    margin-bottom: 0px;
}

.post-toc a {
    cursor: pointer;
}

.post-toc li {
    line-height: 1rem;
    margin-top: 0.5rem;
}

.post-toc>ul>li:first-of-type {
    margin-top: 0;
}

.post-toc ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  }

.post-toc ul ul li a {
  font-weight: normal;
}

.post-toc ul ul ul li a{
    color: rgba(255,255,255,0.6);
  }
